# Ignore all .tar.gz files
*.tar.gz

# Ignore all venv files
*.venv.*
*venv*

# Ignore build artifacts
/build/
/dist/

# Ignore Python-specific files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
*.egg-info/
.Python

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE/editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore environment files
.env
.env.local
```
